.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background: #1E1B4D;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  z-index: 100;
}


.header-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-user img {
  height: 32px;
}
